<head>
  <title>pixr0</title>
<% include usersheader.ejs %>
</head>



<% include nav.ejs %>
<div class="container mainContainer">
  <div class="col-md-8 col-md-offset-2">

  <span class="managerName">Edit an image description</span>
  <p>
  </p>
  <%# loop through and display all messages in DB%>
    <% for (var i = 0; i < result.length; i++) { %>
        <div class="well mainwell">
          <p> <img class="msgImg" src="<%='https://s3.amazonaws.com/nycdapixr/resized/'+result[i].imgUrl%>" alt=""></p><br />
          <p><b>Date posted:</b>  <%= result[i].createdAt %></p>
          <form method="POST" action="/editdescription" >
          <p><label>New description</label>
          <textarea class="form-control" rows="5" cols="55" name="descEdit"><%= result[i].description %></textarea><br />
          </p>
          <p><label>New tags</label>
          <textarea class="form-control" rows="1" cols="55" name="tagEdit"><%= result[i].tags %></textarea>

          </p>


            <div class="form-group">
           		<button type="submit" class="btn btn-primary">Submit</button>
           		<button type="reset" class="btn btn-danger">Reset</button>
       	    </div>
            <textarea class="imgid" name="imgid" rows="2" cols="2" value="<%=id%>"><%=id%></textarea>

           </form>
          </div>

    <% } %>
  </div>
</div>
