<head>
  <title>pixr</title>
<% include header.ejs %>
</head>


<% include nav.ejs %>


<div class="container">
    <div class="row">
      <%# loop through and display all messages in DB%>
        <% for (var i = 0; i < result.length; i++) { %>
            <div class="well mainwell fadein">
             <img class="avatar" src="<%= 'https://s3.amazonaws.com/nycdapixr/avatars/'+result[i].ownerAvatar %>" alt="" /> <b><%= result[i].ownerusername %></b> <br /><br />
              <a href="/images/<%= result[i].id %>"> <img class="msgImg" src="<%='https://s3.amazonaws.com/nycdapixr/resized/'+result[i].imgUrl%>" alt=""></a><br /><br />
              <div class="imginfo">
                <b><%= result[i].ownerusername %></b>
                <%= result[i].description %>
                <% var tagArray = result[i].tags.split(','); %>
                <% console.log(tagArray); %>
                <% for (var j = 0; j < tagArray.length; j++) { %>
                 <a href="/tags/<%= tagArray[j].trim() %>"> #<%=tagArray[j].trim()%></a>
                <% } %>
              </div>
            </div>
        <% } %>
    </div>
</div>
