<head>
  <title>pixr0</title>
<% include header.ejs %>
</head>



<% include nav.ejs %>
<div class="container main">
  <img class="lgavatar" src="<%='../media/uploads/'+user.profImg%>" alt="User avatar" /><span class="managerName">Welcome, <%= user.firstName %>!</span>
  <p>
    Manage image posts here. Delete each post individually or edit descriptions below. You can also upload an avatar by clicking [<a href="/profimg">HERE</a>].
  </p>
  <%# loop through and display all messages in DB%>
    <% for (var i = 0; i < result.length; i++) { %>
        <div class="well">
          <button type="button" class="close delMsg" aria-label="Close" data-id="<%= result[i].id %>">
          <span aria-hidden="true">&times;</span>
          </button><br  /><br />
          <p> <img class="msgImg" src="<%= '../'+result[i].imgUrl.split('/')[1]+'/'+result[i].imgUrl.split('/')[2]+'/'+result[i].imgUrl.split('/')[3] %>" alt=""></p><br />
          <p><b>Date posted:</b>  <%= result[i].createdAt %></p>
          <p>  <%= result[i].description %></p>

          <span class="glyphicon glyphicon-edit"></span>
        </div>
    <% } %>




</div>
